<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBO - Internet Standards Validation Report</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/modals.css">
    <link rel="stylesheet" href="css/validation-sticky-table.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="page-wrapper">
    {% include 'partials/header.html' %}

    <main class="main-content">
        <!-- Search container -->
        <div class="search-container">
            <div class="navigation-icons">
                <a href="scoreboard.html" class="statistics-icon" title="View Scoreboard">
                    <i class="fas fa-trophy"></i>
                    <span>Scoreboard</span>
                </a>
                <a href="statistics.html" class="statistics-icon" title="View Statistics">
                    <i class="fas fa-chart-bar"></i>
                    <span>Statistics Report</span>
                </a>
            </div>
            <div class="search-toolbar">
                <input type="text" id="table-search" placeholder="Search by Country, Institution, or Domain...">
            </div>
        </div>
        <div class="container">

            <table class="validation-table validation-report-sticky-table">
                <thead id="table-headers">
                <tr>
                    <!-- Headers will be added via JavaScript -->
                </tr>
                </thead>
                <tbody id="validation-table-body">
                <!-- Table data will be populated by JavaScript -->
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>
</div>

<div id="modals-container"></div>

<script>
    window.validationData = {{ validations|tojson|safe }};
    window.domainMetadata = {{ domain_metadata|tojson|safe }};
    window.reportTimestamp = "{{ timestamp }}";
    window.reportYear = "{{ year }}";
</script>

<script src="js/config.js"></script>
<script src="js/tooltips.js"></script>
<script src="js/collapsible.js"></script>

<script src="js/modals/rpki_modal.js"></script>
<script src="js/modals/dane_modal.js"></script>
<script src="js/modals/dnssec_modal.js"></script>
<script src="js/modals/email_security_modal.js"></script>
<script src="js/modals/web_security_modal.js"></script>
<script src="js/modals.js"></script>

<script src="js/renderers.js"></script>
<script src="js/search.js"></script>
<script src="js/main.js"></script>
</body>
</html>