<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Standards Validation Report</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/modals.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div class="page-wrapper">
    <header class="main-header">
        {% include 'partials/header.html' %}
    </header>

    <main class="main-content">
        <div class="container">
            <table class="validation-table">
                <thead id="table-headers">
                <tr>
                    <!-- Headers will be added via JavaScript -->
                </tr>
                </thead>
                <tbody id="validation-table-body">
                    <!-- Table data will be populated by JavaScript -->
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>
</div>

<div id="modals-container"></div>

<script>
    window.validationData = {{ validations|tojson|safe }};
    window.domainMetadata = {{ domain_metadata|tojson|safe }};
    window.reportTimestamp = "{{ timestamp }}";
    window.reportYear = "{{ year }}";
</script>

<script src="js/config.js"></script>
<script src="js/tooltips.js"></script>
<script src="js/collapsible.js"></script>

<script src="js/modals/rpki_modal.js"></script>
<script src="js/modals/dane_modal.js"></script>
<script src="js/modals/dnssec_modal.js"></script>
<script src="js/modals/email_security_modal.js"></script>
<script src="js/modals/web_security_modal.js"></script>
<script src="js/modals.js"></script>

<script src="js/renderers.js"></script>
<script src="js/main.js"></script>
</body>
</html>