{% from 'modals/rpki_modal.html' import rpki_modal %}
{% from 'modals/dane_modal.html' import dane_modal %}
{% from 'modals/dnssec_modal.html' import dnssec_modal %}
{% from 'modals/email_security_modal.html' import email_security_modal %}
{% from 'modals/web_security_modal.html' import web_security_modal %}
{% from 'tooltips/column_tooltips.html' import tooltip_header %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Standards Validation Report</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div class="page-wrapper">
    {% include 'partials/header.html' %}

    <main class="main-content">
        <div class="container">
            <table class="validation-table">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Institution</th>
                    <th>Domain</th>
                    {{ tooltip_header('RPKI', 'rpki-tooltip') }}
                    {{ tooltip_header('DANE', 'dane-tooltip') }}
                    {{ tooltip_header('DNSSEC', 'dnssec-tooltip') }}
                    {{ tooltip_header('Email Security', 'email-security-tooltip') }}
                    {{ tooltip_header('Web Security', 'web-security-tooltip') }}
                </tr>
                </thead>
                <tbody>
                {% for domain in validations.RPKI.state %}
                    <tr class="service-row">
                        <td>{{ domain_metadata[domain].country if domain_metadata and domain in domain_metadata else '' }}</td>
                        <td>{{ domain_metadata[domain].institution if domain_metadata and domain in domain_metadata else '' }}</td>
                        <td class="server-name">{{ domain }}</td>
                        {% set show_dnssec = true %}
                        {% set tab_id = 'all' %}
                        {% set check_type = 'Nameserver of Domain' %}
                        {% include 'status_columns.html' %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {% include 'partials/footer.html' %}
</div>
{% include 'partials/scripts.html' %}

</body>
</html>